@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  /* color */
  --bg: #0C0F0F;
  --text: #E3E2E2;
  /* orange */
  --orange_normal: #E07D31;
  --orange_light_active: #F5D7BF;

  /* gray */
  --grey_dark_active: #131313;
  --grey_dark: #202020;
  --grey_light: #BDBDBD;


  /* fonts */
  --font-jetbrian: 'JetBrains Mono', monospace;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  /* base style */

  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


body {
  margin: 0;
}


p {
  margin: 0;
}